.home-section-body {
  min-height: 100vh;
  width: 100%;
  background-color: #0a192f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  inline-size: auto;
}

.intro-line1 {
  color: #9b3762;
  font-size: 25px;
  margin: 0;
  height: fit-content;
  line-height: 1em;
}

.intro-line2 {
  color: #ccd6f6;
  font-size: 60px;
  margin: 0;
  line-height: 1em;
}

.intro-line3 {
  color: #8892b0;
  font-size: 60px;
  margin: 0;
  line-height: 1em;
}

.view-projects-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 70px;
  border: 1px solid #ccd6f6;
  color: #ccd6f6;
  cursor: pointer;
  font-size: 25px;
  margin-top: 1em;
  text-decoration: none;
}

.view-projects-btn:hover {
  --angle: 0deg;
  border-image-source: linear-gradient(var(--angle), #9b3762, #6739b1);
  border-image-slice: 1;
  transform: scale(1.02);
  animation: 5s rotate linear infinite;
}

/* Click effect */
.view-projects-btn:active {
  transform: scale(0.95);
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@media (max-width: 768px) {
  .intro-line1 {
    font-size: 14px;
  }

  .intro-line2,
  .intro-line3 {
    font-size: 25px;
  }

  .view-projects-btn {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
}
