.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8em;
  margin: 3em;
}

.card-info button {
  margin-top: 1em;
  padding: 15px 25px;
  border-radius: 50px;
  border: 1px solid #ccd6f6;
  background: none;
  cursor: pointer;
}

.card-buttons {
  display: flex;
  gap: 2em;
}

.card-img-body {
  max-width: 500px;
}

.card-description {
  max-width: 300px;
}

.card-img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.github-btn,
.project-btn {
  color: #ccd6f6;
}

@media (max-width: 768px) {
  .card-body {
    flex-direction: column;
  }

  .card-body {
    gap: 4em;
    margin: 3em;
  }
}

@media (max-width: 920px) {
  .card-body {
    flex-direction: column;
  }

  .card-body {
    gap: 4em;
    margin: 3em;
  }
}
