.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1d3557;
  padding: 20px;
}

.about-content {
  max-width: 800px;
}

.about-title {
  color: #ccd6f6;
  border-bottom: 3px solid #9b3762;
  width: min-content;
  font-size: 24px;
  margin-bottom: 10px;
  inline-size: fit-content;
}

.about-p {
  font-size: 18px;
  color: #ccd6f6;
  line-height: 1.5;
  white-space: break-spaces;
}
