/* Navbar styling */
.navbar-body {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgba(10, 25, 47, 0.8);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
}

/* Navbar buttons */
.nav-btns {
  display: flex;
  font-size: 25px;
  list-style: none;
  margin: 0;
  margin-right: 1em;
  gap: 0.5em;
}

.home-btn,
.about-btn,
.skills-btn,
.projects-btn,
.contact-btn {
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ccd6f6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.761);
}

nav ul li a {
  text-decoration: none;
}

/* Navbar links */
nav ul li a:hover {
  border-bottom: 3px solid #9b3762;
  color: #9b3762;
}

.nav-logo {
  width: 50px;
  height: 50px;
  background-image: url(/images/logo.png);
  background-position: center;
  background-size: cover;
  margin-left: 1em;
}

/* Hamburger menu styles */
.hamburger-menu {
  height: 100%;
  width: 3em;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-right: 2em;
  padding: 0.5em;
}

.hamburger-menu span {
  width: 2.5em;
  height: 0.15em;
  background-color: #9b3762;
  border-radius: 0.5em;
}

.menu-open .hamburger-menu span:nth-child(1) {
  transform: rotate(45deg) translate(0.5em, 0.5em);
  transition: ease-out 0.5s;
}

.menu-open .hamburger-menu span:nth-child(2) {
  opacity: 0;
}

.menu-open .hamburger-menu span:nth-child(3) {
  transform: rotate(135deg) translate(-0.3em, 0.5em);
  transition: ease-out 0.5s;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .nav-btns {
    display: none; /* Hide original nav items */
  }

  /* Show the hamburger menu button */
  .hamburger-menu {
    display: flex;
    margin-right: 2em;
  }

  /* Show the menu items when the menu is open */
  .menu-open .nav-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: rgba(10, 25, 47, 0.8);
    backdrop-filter: blur(10px);
    padding: 0;
  }
}
