.skills-section {
  min-height: 100vh;
  background-color: #0a192f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ccd6f6;
}

.skills-img-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5em;
}

.skills-img-body > div {
  text-align: center;
}

.skills-title {
  border-bottom: 3px solid #9b3762;
  width: min-content;
}

/* Scale the images with a percentage-based width */
.skills-img-body > div img {
  width: 100%;
  max-width: 75px;
  height: auto;
}

.skills-container {
  max-width: 100%;
}

.skills-img-body > div img:hover{
  transform: scale(1.2);
  transition: transform 0.5s ease;
}



@media (max-width: 768px) {
  .skills-img-body > div img {
    max-width: 35px;
    height: auto;
  }

  .skills-img-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
  }

  .skills-title {
    font-size: 24px;
  }
}
